.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
}
.grid__item {
  min-height: 373px;
  position: relative;
  padding: 48px 36px;
  border: 1px solid var(--defColor);
  border-radius: 8px;
}
.grid__item:first-child {
  padding: 0;
  background-image: url("../images/arrow_carusel.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  border: none;
}
.grid__item:nth-child(3),
.grid__item:nth-child(5) {
  border: none;

  .grid__item-text {
    color: var(--beige);
  }
}
.grid__item-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 8px;
}
.grid__item-tile {
  margin-bottom: 24px;
}
.grid__item-span {
}

@media (max-width: 1180px) {
  .grid {
    grid-template-columns: repeat(2, minmax(90px, 1fr));
    grid-template-rows: repeat(3, 320px);
    gap: 25px;
  }
  .grid__item {
    min-height: auto;
  }
}

@media (max-width: 780px) {
  .grid {
    -ms-grid-columns: minmax(90px, 1fr) 20px minmax(90px, 1fr);
    grid-template-columns: repeat(2, minmax(90px, 1fr));
    -ms-grid-rows: 1fr 20px 1fr 20px 1fr 20px 1fr;
    grid-template-rows: repeat(5, 168px);
    gap: 8px;
  }
  .grid__item {
    padding: 16px;
  }
  .grid__item:first-child {
    padding: 0 0 28px 0;
    display: flex;
    gap: 24px;
    justify-content: start;
    align-items: center;
    background: none;
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .grid__item-tile {
    margin-bottom: 0px;
  }
  .grid__item:nth-child(2) {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .grid__item:nth-child(3) {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .grid__item:nth-child(4) {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .grid__item:nth-child(6) {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .grid__item:nth-child(5) {
    grid-column: 1/3;
    grid-row: 5/6;
  }
}
