.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 16px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--beige);
  z-index: 10;
  transition: all 0.5s;
}
.header__inner {
  width: 100%;
  max-width: 1680px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.header__nav-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.nav__item-link {
  text-transform: uppercase;
}

.logo {
  transition: all 0.5s;
  max-width: 135px;
  height: 76px;
}
.burger {
  display: none;
}
.burger__inner {
  display: none;
}

.loader__inner {
  position: fixed;
  left: 0;
  top: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: #f3f3f3;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
}
.copyrating__inner-text {
}

.counter {
  font-size: 24px;
  color: var(--pink);
  font-family: "Mirra";
}

@-webkit-keyframes count {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes count {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.loader__img {
  width: 70px;
  height: 70px;
  display: none; /* Изначально скрываем все изображения */
}

.loader__img.active {
  display: block; /* Показываем активное изображение */
}

@media (max-width: 980px) {
  .logo {
    height: 61px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7453%)
      hue-rotate(95deg) brightness(114%) contrast(103%);
  }
  .logo.scrolled {
    filter: none;
  }
  .header.scrolled {
    background: var(--beige);
  }
  .header {
    background: transparent;
    padding: 8px 0;
  }
  .header__nav {
    display: none;
  }
  .burger {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 12.5px 0;
    background: transparent;
  }
  .burger-line {
    width: 27.5px;
    height: 2px;
    background-color: var(--pink);
    transition: all 0.3s;
  }
  .burger.active > .burger-line:nth-child(1) {
    transform: rotate(45deg) translateY(7px);
  }
  .burger.active > .burger-line:nth-child(2) {
    opacity: 0;
  }
  .burger.active > .burger-line:nth-child(3) {
    transform: rotate(-45deg) translateY(-10px);
  }

  .burger__inner {
    display: flex;
    width: 100%;
    height: 100dvh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 36px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 11;
    transition: all 0.5s;
    transform: translateY(-200%);
    padding: 0 0 30px 0;
    background: var(--beige);
    border-top: 1px solid rgba(143, 141, 141, 1);
  }
  .burger__inner-title {
    font-size: 50px;
    font-family: "GoodVibesPro";
    color: var(--pink);
  }
  .burger__inner-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    border-bottom: 1px solid rgba(143, 141, 141, 1);
    padding-bottom: 60px;
  }

  .burger__link {
    font-size: 26px;
  }
  .burger__inner.open {
    transform: translateY(0);
  }
}
@media (max-width: 540px) {
  .burger__inner-list {
    gap: 14px;
  }
  .burger__inner-title {
    font-size: 30px;
  }
  .burger__link {
    font-size: 18px;
  }
}
@media (max-height: 500px) {
  .burger__inner {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 26px;
    padding: 0;
  }
  .burger__inner-title {
    padding-top: 40px;
  }
  .burger__inner-list {
    padding-bottom: 40px;
  }
}
